h1 {
	font-family: 'Anton', sans-serif;
	color:90EAFF;
	}
	
ol {
	font-family:'Dancing Script', cursive;
	color:F6F8FF;
	}
P	{
	font-family: 'Anton', sans-serif;
	color:FF6B00;
	}
body {
	 background-image:url("../img/design-tools.jpg")
	}